<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form #form="ngForm">
        <div id="fechas">
          <mat-form-field appearance="fill">
            <mat-label>Fecha desde</mat-label>
            <input
              matInput
              [matDatepicker]="fechaDesde"
              (dateChange)="fechaDesdeChange($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaDesde"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaDesde></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha hasta</mat-label>
            <input
              matInput
              [matDatepicker]="fechaHasta"
              (dateChange)="fechaHastaChange($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fechaHasta"
            ></mat-datepicker-toggle>
            <mat-datepicker #fechaHasta></mat-datepicker>
          </mat-form-field>
        </div>

        <div id="personas">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Empleado</mat-label>
              <input matInput [(ngModel)]="empleadoNombre" name="empleado" />
            </mat-form-field>
            <button
              type="button"
              class="btn btn-link"
              (click)="obtenerEmpleados()"
            >
              Buscar
            </button>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Cliente</mat-label>
              <input matInput [(ngModel)]="clienteNombre" name="cliente" />
            </mat-form-field>
            <button type="button" class="btn btn-link">Buscar</button>
          </div>
        </div>

        <div id="catysub">
          <div id="categoria">
            <mat-form-field appearance="fill">
              <mat-label>Categoria</mat-label>
              <mat-select
                [value]="categoria"
                (selectionChange)="categoriaSeleccionar($event.value)"
              >
                <mat-option
                  *ngFor="let categoria of categorias"
                  [value]="categoria"
                >
                  {{ categoria.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div id="subcategoria">
            <mat-form-field appearance="fill">
              <mat-label>Subcategoria</mat-label>
              <mat-select [(ngModel)]="subcategoria" name="subcategoria">
                <mat-option
                  *ngFor="let subcategoria of subcategorias"
                  [value]="subcategoria"
                >
                  {{ subcategoria.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div id="buscar">
          <button type="button" class="btn btn-primary" (click)="buscarFicha()">
            Buscar
          </button>

          <button type="button" class="btn btn-primary" (click)="form.reset()">
            Limpiar
          </button>
        </div>
      </form>

      <table mat-table [dataSource]="fichasClinicas" class="mat-elevation-z8">
        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaHora }}</td>
        </ng-container>

        <!-- Profesional Column -->
        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef>Profesional</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idEmpleado.nombre }} {{ element.idEmpleado.apellido }}
          </td>
        </ng-container>

        <!-- Cliente Column -->
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idCliente.nombre }} {{ element.idCliente.apellido }}
          </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef>Categoría</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idTipoProducto.idCategoria.descripcion }}
          </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="subcategoria">
          <th mat-header-cell *matHeaderCellDef>Subcategoría</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idTipoProducto.descripcion }}
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-outline-secondary">
              Crear servicio
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <button
        type="button"
        class="btn btn-primary"
        id="btnAddFicha"
        routerLink="/ficha-clinica-agregar"
      >
        Agregar Ficha
      </button>
    </div>
  </body>
</html>
